/* 单节点设置 style */
.choosePeople {
  width: 100%;
  min-height: 149px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px 11px;
}

.choosePeople a,
.choosePeople a:hover {
  font-size: 13px;
  color: #3487e2;
}

.tipIcon {
  color: #cccccc;
  font-size: 14px;
  cursor: pointer;
}

.setSingleNodeBtnBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  padding: 10px 16px;
  text-align: right;
  left: 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
}

/* 条件节点设置 style */

.conditionType .ant-form-item-control {
  line-height: 32px;
}
.conditionName {
  margin-right: 6px;
}

.conditionName .ant-form-item-label {
  float: left;
}
.conditionName .ant-form-item-control-wrapper {
  float: left;
  width: 230px;
}

.conditionYxj {
  width: 110px;
}
.yxjTip {
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
  float: left;
  margin: 19px 0 0 6px;
}
.expressionBox {
  width: 100%;
  min-height: 149px;
  max-height: 600px;
  overflow: auto;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 9px;
}
.expressionSymbolBox {
  margin: 12px 0 24px 0;
}

.expressionSymbolBox button.oaFl {
  outline: none;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  float: left;
  font-size: 13px;
  color: #3487e2;
  cursor: pointer;
  background: #fff;
}

.expressionSymbolBox button.oaFl:hover {
  border: 1px solid #fe8604;
  color: #fe8604;
}

.expressionSymbolBox button.oaFl:active {
  border: 1px solid #e7660e;
  color: #e7660e;
}

.expressionSymbol {
  width: 32px;
}
.expressionDelete,
.expressionClear {
  width: 63px;
}
.setExpressionBox {
  margin-top: 12px;
  border-radius: 4px;
  width: 100%;
}
.setExpressionTitle {
  background: #f7f7f7;
  border-radius: 4px 4px 0 0;
  border: 1px solid #e0e6ed;
  height: 44px;
  line-height: 44px;
}

.setExpressionTitle span.oaFla {
  font-size: 13px;
  color: #333333;
  padding-left: 16px;
  float: left;
}
.setExpressionContent {
  border: 1px solid #e0e6ed;
  border-top: none;
  height: 46px;
  border-radius: 0 0 4px 4px;
}

.setExpressionContent span.oaFlb {
  height: 45px;
  float: left;
}

.visibleIcon .ant-select-arrow {
  display: none;
}

.ant-select-selection {
  border: none;
  height: 45px;
  margin-top: -1px;
  padding-left: 16px;
}
.ant-select-selection__rendered {
  margin: 0;
  height: 100%;
}
.ant-select-selection-selected-value {
  height: 45px;
  line-height: 44px;
  color: #4a4a4a;
}
.ant-select-arrow i.ant-select-arrow-icon {
  color: #6b6b6b;
}
.chooseSP {
  width: 100%;
  cursor: pointer;
}

.showName {
  height: 45px;
  line-height: 44px;
  color: #ccc;
  width: 100%;
  font-size: 14px;
}

.expressionValue {
  height: 45px;
  line-height: 44px;
  color: #ccc;
  font-size: 14px;
  cursor: not-allowed;
}
.expressionValue .expressionValueIcon {
  color: #ccc;
  position: absolute;
  right: 8px;
  top: 15px;
}
.ant-select-disabled .ant-select-selection {
  background-color: #fff;
}
.ant-select-arrow i.ant-select-arrow-icon {
  color: rgb(204, 204, 204);
}

.paddingZero .ant-select-selection {
  padding-left: 0 !important;
}

.field {
  color: transparent;
}

span.oaFla:nth-child(1),
span.oaFlb:nth-child(1) {
  width: 120px;
}
span.oaFla:nth-child(2),
span.oaFlb:nth-child(2) {
  width: 78px;
}
span.oaFla:nth-child(3),
span.oaFlb:nth-child(3) {
  width: 152px;
  padding-left: 16px;
}

.ant-input-number-focused {
  box-shadow: none;
}

.inputAmout {
  width: 100%;
  height: 43px;
  border: none;
}

.inputAmout .ant-input-number-input-wrap {
  height: 43px;
  line-height: 43px;
  outline: 0;
}

.ant-input-number-input {
  height: 43px;
  line-height: 43px;
  padding: 0;
}
.ant-input-number-handler-wrap {
  display: none;
}

.dropDownMenu {
  width: 268px !important;
}
.symbolStyle {
  color: #3487e2;
}

.tempStyle {
  cursor: pointer;
}

/* // 模拟光标 */
.animation::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  -webkit-animation: blink 1s infinite steps(1, start);
  animation: blink 1s infinite steps(1, start);
  position: absolute;
  top: 3px;
  margin-left: 2px;
}
@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

.hasBG {
  background: #e7f3fc;
  border-radius: 4px;
}

.expression {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.expression .ant-tooltip-content {
  height: 239px;
  overflow-y: auto;
}

.tipBox {
  padding: 5px;
  line-height: 21px;
}
